* {
  margin: 0;
  padding: 0;
  outline: none; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 1.9em;
  color: #000; }
  body ul {
    list-style-type: none; }
  body a {
    text-decoration: none; }
  body .wrap-1 {
    width: 85%;
    margin: 0 auto; }
  body .wrap-2 {
    width: 70%;
    margin: 0 auto; }
  body .logo-border {
    border-bottom: 1px solid #FF9800;
    border-radius: 50%; }
  body .color-special {
    color: #FF9800; }
  body .neon-button {
    background: none;
    padding: 0.5em 1em;
    color: #fff;
    transition: .5s;
    border: 1px solid #fff;
    border-radius: .25em;
    cursor: pointer; }
  body .neon-button:hover {
    background: #FF9800;
    color: #fff;
    border-color: #FF9800;
    box-shadow: 0 0 1em #FF9800, 0 0 2em #FF9800, 0 0 4em #FF9800, 0 0 8em #FF9800; }

.let-spacing-1 {
  letter-spacing: 0.1em; }

.let-spacing-2 {
  letter-spacing: 0.18em; }

.let-spacing-3 {
  letter-spacing: 0.05em; }

.pad-top-1 {
  padding-top: 195px; }

.pad-top-2 {
  padding-top: 60px; }

.pad-top-3 {
  padding-top: 25px; }

.pad-top-4 {
  padding-top: 225px; }

.pad-bot-1 {
  padding-bottom: 90px; }

.pad-bot-2 {
  padding-bottom: 195px; }

.pad-bot-3 {
  padding-bottom: 45px; }

.pad-bot-4 {
  padding-bottom: 25px; }

.pad-bot-5 {
  padding-bottom: 40px; }

.pad-left-1 {
  padding-left: 5px; }

.marg-bot-1 {
  margin-bottom: 12px; }

.marg-left-1 {
  margin-left: 15px; }

.font-size-1 {
  font-size: 75px; }

.font-size-2 {
  font-size: 24px; }

.font-size-3 {
  font-size: 48px; }

.font-size-4 {
  font-size: 14px; }

.font-size-5 {
  font-size: 16px; }

.font-weight-1 {
  font-weight: 800; }

.font-weight-2 {
  font-weight: 400; }

.elem-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.block-right {
  justify-content: flex-end; }

.display-none {
  display: none; }

.display-block {
  display: block; }

header {
  flex-grow: 0;
  width: 100%;
  padding: 1em 1em;
  position: fixed;
  background-color: #2c2c2c;
  opacity: 0.8; }
  header .navbar {
    display: flex;
    flex-direction: row; }
    header .navbar .logo {
      color: #FF9800;
      cursor: pointer;
      font-size: 1.7em;
      margin: auto 0;
      width: 10%; }
    header .navbar .menu-burger {
      width: 6%;
      order: 2;
      display: none;
      margin: auto 0; }
      header .navbar .menu-burger .burger-button {
        width: 9%;
        transition: 0.4s;
        display: flex;
        justify-content: flex-end; }
      header .navbar .menu-burger .burger-lines,
      header .navbar .menu-burger .burger-lines::after,
      header .navbar .menu-burger .burger-lines::before {
        position: absolute;
        width: 2em;
        top: 29px;
        height: 0.33em;
        background-color: #FF9800;
        z-index: 10; }
      header .navbar .menu-burger .burger-lines::before {
        content: "";
        top: -12px; }
      header .navbar .menu-burger .burger-lines::after {
        content: "";
        top: 12px; }
      header .navbar .menu-burger .menu-burger-navigate {
        position: fixed;
        display: flex;
        flex-flow: column;
        width: 100%;
        background-color: #2c2c2c;
        overflow-y: auto;
        top: -100%;
        left: -100%;
        bottom: 0;
        transition: 0.5s;
        z-index: 10; }
      header .navbar .menu-burger .burger-link {
        padding: 0.5em 1.5em;
        color: #fff; }
      header .navbar .menu-burger .burger-podLink {
        padding: 0.5em 3.5em;
        color: #fff; }
    header .navbar .menu-burger-action .burger-button,
    header .navbar .menu-burger-action .burger-lines {
      background-color: transparent; }
    header .navbar .menu-burger-action .burger-lines::before {
      top: 0;
      transform: rotate(45deg); }
    header .navbar .menu-burger-action .burger-lines::after {
      top: 0;
      transform: rotate(-45deg); }
    header .navbar .menu-burger-action .menu-burger-navigate {
      left: 0;
      top: 2.7em; }
    header .navbar .menu-burger-action .menu-burger-notScroll {
      display: block;
      background: #fff; }
    header .navbar .menu-burger-notScroll {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 5; }
    header .navbar .about {
      width: 80%;
      display: flex;
      justify-content: center; }
      header .navbar .about .topmenu > li {
        display: inline-block;
        position: relative;
        margin: 0 2.5em; }
      header .navbar .about .topmenu > li > a {
        cursor: pointer;
        position: relative;
        display: block;
        color: #fff; }
      header .navbar .about .topmenu > li > a:before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 100%;
        width: 0.5em;
        height: 0.5em;
        background: #fff;
        border-radius: 50%;
        transform: translate(-50%, 0.25em);
        opacity: 0;
        transition: .3s; }
      header .navbar .about .submenu {
        position: absolute;
        cursor: pointer;
        text-transform: none;
        left: 50%;
        width: 10em;
        margin-top: 0.3em;
        background: #000;
        border-radius: 0.25em;
        visibility: hidden;
        opacity: 0;
        transform: translate(-50%, 1em);
        transition: .3s; }
        header .navbar .about .submenu a {
          transition: .2s linear;
          color: #fff;
          padding: 1em;
          display: block;
          color: #fff; }
        header .navbar .about .submenu a:hover {
          background: #2c2c2c;
          border-radius: 0.25em; }
      header .navbar .about .topmenu li:hover a:before {
        transform: translate(-50%, 0);
        opacity: 1; }
      header .navbar .about .topmenu li:hover .submenu {
        visibility: visible;
        transform: translate(-50%, 0);
        opacity: 0.8; }

#main {
  flex-grow: 1; }
  #main #top {
    width: 100%;
    height: 100vh;
    background: url("../img/computer.jpg") fixed;
    background-blend-mode: multiply;
    background-color: #2c2c2c;
    background-size: cover; }
    #main #top h1, #main #top h5 {
      line-height: normal;
      color: #fff; }
  #main #skills {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; }
    #main #skills .technologie {
      display: flex;
      justify-content: space-between; }
      #main #skills .technologie .technologie-group {
        flex-wrap: nowrap;
        width: 100%;
        z-index: -1; }
        #main #skills .technologie .technologie-group .technologie-figure {
          background-color: #fff;
          border: 0.5px solid #FF9800;
          padding: 0.5em;
          border-radius: 1em;
          width: 115px;
          height: 115px;
          display: flex; }
          #main #skills .technologie .technologie-group .technologie-figure #ajax {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg); }
          #main #skills .technologie .technologie-group .technologie-figure #nest {
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1); }
          #main #skills .technologie .technologie-group .technologie-figure img {
            width: 75px;
            margin: 5px 0 5px 5px; }
          #main #skills .technologie .technologie-group .technologie-figure .technologie-text {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            writing-mode: vertical-lr;
            line-height: 1.5em;
            color: #000; }
        #main #skills .technologie .technologie-group .technologie-figure:not(:last-child) {
          margin-bottom: 35px; }
    #main #skills .language-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap; }
      #main #skills .language-group figure {
        cursor: help; }
        #main #skills .language-group figure img {
          width: 100%;
          height: 5em; }
    #main #skills li {
      float: left;
      padding-right: 1em; }
    #main #skills li:before {
      content: "\270e";
      color: #FF9800;
      margin-right: 0.25em; }
  #main #experience {
    color: #fff;
    width: 100%;
    background: url("../img/mountain.jpg") fixed;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    background-blend-mode: multiply;
    background-size: cover;
    background-color: #2c2c2c; }
    #main #experience .experience-group {
      display: flex; }
      #main #experience .experience-group .experience-block {
        width: 50%; }
        #main #experience .experience-group .experience-block li {
          float: none;
          width: 100%; }
          #main #experience .experience-group .experience-block li a {
            color: #fff;
            text-decoration: underline; }
          #main #experience .experience-group .experience-block li a:hover {
            color: #FF9800; }
        #main #experience .experience-group .experience-block li::before {
          content: '\270e';
          color: #FF9800;
          margin-right: 0.25em; }
    #main #experience .line-left {
      border-radius: 47.5%;
      border-left: 30px dashed #2c2c2c;
      margin-left: 7%; }
    #main #experience .line-right {
      border-radius: 47.5%;
      border-right: 55px dashed #2c2c2c;
      margin-right: 7%; }
  #main #study {
    width: 100%; }

footer {
  flex-grow: 0;
  width: 100%;
  background-color: #2c2c2c;
  color: #fff;
  z-index: -1; }
  footer .foot-block {
    display: flex;
    justify-content: space-between; }
    footer .foot-block .foot-element {
      display: flex;
      flex-direction: column;
      min-width: 33%; }
      footer .foot-block .foot-element a:hover {
        color: #FF9800;
        transition: 0.5s;
        padding-left: 1em;
        cursor: pointer; }
      footer .foot-block .foot-element ul {
        display: flex;
        flex-direction: column; }
      footer .foot-block .foot-element ul > li {
        padding-bottom: 1em;
        display: flex;
        justify-content: space-between; }
        footer .foot-block .foot-element ul > li textarea {
          resize: vertical;
          height: 5em; }
        footer .foot-block .foot-element ul > li .hidden-button {
          width: 50%;
          margin: auto; }
      footer .foot-block .foot-element li > input, footer .foot-block .foot-element textarea {
        width: 100%;
        min-height: 30px;
        padding: .5em;
        border: 3px solid #fff;
        border-radius: 0.25em; }
      footer .foot-block .foot-element li > input:hover, footer .foot-block .foot-element textarea:hover {
        border: 3px solid #FF9800;
        width: 100%; }
  footer a {
    color: #fff;
    transition: 0.5s; }
    footer a img {
      vertical-align: middle;
      margin-right: 0.5em;
      max-width: 1.5em;
      color: #fff; }
  footer .soc_links {
    filter: invert(1); }

@media only screen and (max-device-width: 360px) {
  body .wrap-1 {
    width: 98%; }
  body .wrap-2 {
    width: 90%; }
  body .pad-bot-2 {
    padding-bottom: 4.5em; }
  body .pad-top-1 {
    padding-top: 4.5em; }
  body header {
    width: 96%; }
    body header .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      body header .navbar .logo {
        order: 0;
        display: flex;
        align-content: flex-start; }
      body header .navbar .about {
        display: none; }
      body header .navbar .menu-burger {
        display: block; }
      body header .navbar .menu-burger-action .menu-burger-navigate {
        top: 3.7em; }
  body #main #top h1 {
    padding-top: 1.25em;
    font-size: 4em; }
  body #main #top h5 {
    padding-bottom: 1.5em;
    font-size: 2em; }
  body #main h3 {
    font-size: 170%; }
  body #main #skills .technologie {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    body #main #skills .technologie .technologie-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em auto; }
      body #main #skills .technologie .technologie-group .technologie-figure {
        border: 0.5px solid #FF9800;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        margin: 0.25em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure img {
          display: flex;
          align-content: center;
          margin: 0.3em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure .technologie-text {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          writing-mode: horizontal-tb; }
      body #main #skills .technologie .technologie-group .technologie-figure:not(:last-child) {
        margin-bottom: 0em; }
  body #main #skills .language-group figure img {
    height: 4em; }
  body #main #experience .experience-group .experience-block {
    width: 100%; }
    body #main #experience .experience-group .experience-block ul {
      margin-left: 3em; }
  body #main #experience .experience-group:last-child {
    display: none; }
  body #main #experience .line-left {
    border-left: none;
    margin-left: 0%; }
  body #main #experience .line-right {
    border-right: none;
    margin-right: 0%; }
  body footer .foot-block {
    flex-wrap: wrap-reverse; }
    body footer .foot-block .foot-element {
      font-size: 75%;
      display: flex;
      flex-direction: column;
      min-width: 40%; }
    body footer .foot-block .foot-element:last-child {
      width: 100%; } }
@media only screen and (min-device-width: 361px) and (max-device-width: 480px) {
  body .wrap-1 {
    width: 95%; }
  body .wrap-2 {
    width: 85%; }
  body .pad-bot-2 {
    padding-bottom: 4.5em; }
  body .pad-top-1 {
    padding-top: 4.5em; }
  body header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body header .navbar .logo {
      order: 0;
      display: flex;
      align-content: flex-start; }
    body header .navbar .menu-burger {
      display: block; }
    body header .navbar .menu-burger-action .menu-burger-navigate {
      top: 3.7em; }
    body header .navbar .about {
      display: none; }
  body #main #top h1 {
    padding-top: 1.7em;
    font-size: 4em; }
  body #main #top h5 {
    font-size: 2em; }
  body #main h3 {
    font-size: 170%; }
  body #main #skills .technologie {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    body #main #skills .technologie .technologie-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em auto; }
      body #main #skills .technologie .technologie-group .technologie-figure {
        border: 0.5px solid #FF9800;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        margin: 0.25em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure img {
          display: flex;
          align-content: center;
          margin: 0.1em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure .technologie-text {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          writing-mode: horizontal-tb; }
      body #main #skills .technologie .technologie-group .technologie-figure:not(:last-child) {
        margin-bottom: 0em; }
  body #main #skills .language-group figure img {
    height: 4em; }
  body #main #experience .experience-group .experience-block {
    width: 100%; }
    body #main #experience .experience-group .experience-block ul {
      margin-left: 3em; }
  body #main #experience .experience-group:last-child {
    display: none; }
  body #main #experience .line-left {
    border-left: none;
    margin-left: 0%; }
  body #main #experience .line-right {
    border-right: none;
    margin-right: 0%; }
  body footer .foot-block {
    flex-wrap: wrap-reverse; }
    body footer .foot-block .foot-element:last-child {
      width: 100%; } }
@media only screen and (min-device-width: 481px) and (max-device-width: 640px) {
  body .wrap-1 {
    width: 97%; }
  body .wrap-2 {
    width: 90%; }
  body .pad-bot-2 {
    padding-bottom: 4.5em; }
  body .pad-top-1 {
    padding-top: 4.5em; }
  body header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body header .navbar .logo {
      order: 0;
      display: flex;
      align-content: flex-start; }
    body header .navbar .menu-burger {
      display: block; }
    body header .navbar .menu-burger-action .menu-burger-navigate {
      top: 3.7em;
      width: 88vw; }
    body header .navbar .about {
      display: none; }
  body #main h3 {
    font-size: 230%; }
  body #main #top h1 {
    padding-top: 1.5em;
    font-size: 4em; }
  body #main #top h5 {
    font-size: 2em; }
  body #main #skills .technologie {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    body #main #skills .technologie .technologie-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0.5em auto; }
      body #main #skills .technologie .technologie-group .technologie-figure {
        border: 0.5px solid #FF9800;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        margin: 0.25em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure img {
          display: flex;
          align-content: center;
          margin: 0.1em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure .technologie-text {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          writing-mode: horizontal-tb; }
      body #main #skills .technologie .technologie-group .technologie-figure:not(:last-child) {
        margin-bottom: 0em; }
  body #main #skills .language-group figure img {
    height: 4em; }
  body #main #experience .experience-group .experience-block {
    width: 100%; }
    body #main #experience .experience-group .experience-block ul {
      margin-left: 3em; }
  body #main #experience .experience-group:last-child {
    display: none; }
  body #main #experience .line-left {
    border-left: none;
    margin-left: 0%; }
  body #main #experience .line-right {
    border-right: none;
    margin-right: 0%; }
  body footer .foot-block {
    flex-wrap: wrap-reverse; }
    body footer .foot-block .foot-element {
      font-size: 75%;
      display: flex;
      flex-direction: column;
      min-width: 40%; }
    body footer .foot-block .foot-element:last-child {
      width: 100%; } }
@media only screen and (min-device-width: 641px) and (max-device-width: 768px) {
  body .wrap-1 {
    width: 100%; }
  body .wrap-2 {
    width: 90%; }
  body .pad-bot-2 {
    padding-bottom: 4.5em; }
  body .pad-top-1 {
    padding-top: 4.5em; }
  body header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    body header .navbar .logo {
      order: 0;
      display: flex;
      align-content: flex-start; }
    body header .navbar .menu-burger {
      display: block; }
    body header .navbar .menu-burger-action .menu-burger-navigate {
      top: 3.7em;
      width: 90vw; }
    body header .navbar .about {
      display: none; }
  body #main h3 {
    font-size: 260%; }
  body #main #top h1 {
    padding-top: 1.5em;
    font-size: 4em; }
  body #main #top h5 {
    font-size: 2em; }
  body #main #skills .technologie {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    body #main #skills .technologie .technologie-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1em auto; }
      body #main #skills .technologie .technologie-group .technologie-figure {
        border: 0.5px solid #FF9800;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        margin: 0.25em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure img {
          display: flex;
          align-content: center;
          margin: 0.1em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure .technologie-text {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          writing-mode: horizontal-tb; }
      body #main #skills .technologie .technologie-group .technologie-figure:not(:last-child) {
        margin-bottom: 0em; }
  body footer .wrap-1 {
    width: 94%; }
  body footer .foot-block .foot-element {
    font-size: 75%;
    display: flex;
    flex-direction: column;
    min-width: 30%; }
    body footer .foot-block .foot-element ul > li:last-child {
      padding-bottom: 0em; }
  body footer .foot-block .foot-element:last-child {
    width: 40%; } }
@media only screen and (min-device-width: 769px) and (max-device-width: 960px) {
  body .wrap-1 {
    width: 95%; }
  body .wrap-2 {
    width: 95%; }
  body #main h3 {
    font-size: 260%; }
  body #main #top h1 {
    padding-top: 1.5em;
    font-size: 4em; }
  body #main #top h5 {
    font-size: 2em; }
  body #main #skills h5 {
    padding-top: 3em; }
  body #main #skills .technologie {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; }
    body #main #skills .technologie .technologie-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1em auto; }
      body #main #skills .technologie .technologie-group .technologie-figure {
        border: 0.5px solid #FF9800;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        margin: 0.25em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure img {
          display: flex;
          align-content: center;
          margin: 0.1em auto; }
        body #main #skills .technologie .technologie-group .technologie-figure .technologie-text {
          -moz-transform: rotate(360deg);
          -webkit-transform: rotate(360deg);
          writing-mode: horizontal-tb; }
      body #main #skills .technologie .technologie-group .technologie-figure:not(:last-child) {
        margin-bottom: 0em; }
  body footer .wrap-1 {
    width: 90%; }
  body footer .foot-block .foot-element {
    font-size: 75%;
    display: flex;
    flex-direction: column;
    min-width: 33%; }
    body footer .foot-block .foot-element ul > li:last-child {
      padding-bottom: 0em; } }
@media only screen and (min-device-width: 961px) {
  #main #skills h5 {
    padding-top: 3.5em; } }

/*# sourceMappingURL=main.css.map */
